@import "tailwindcss";

body:not(.dashboard-active) {
  cursor: none;
}

/* index.css */
html.lenis {
  height: auto;
}

body {
  /* Essential: Reset height so Lenis can calculate the ocean depth */
  min-height: 100%;
  overflow-x: hidden;
  background: black;
}

/* Ensure Framer Motion doesn't 'clip' your content */
.framer-motion-container {
  will-change: transform;
}
